---
layout: default
title: Home
---

<section id="about">
    <h2>Hello, I'm Manas.</h2>
    <p>Welcome to my personal page. I write code and share my thoughts here.</p>
</section>

<section id="blog">
    <h2>From /me</h2>
    <ul class="blog-list">
        {% for post in site.me %}
        <li class="blog-item">
            <span class="blog-date">{{ post.date | date: "%Y-%m-%d" }}</span>
            <a href="{{ post.url }}" class="blog-title">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% if site.me.size == 0 %}
    <p>No posts found. Add markdown files to the /me folder.</p>
    {% endif %}
</section>

<section id="projects">
    <h2>Projects</h2>
    <div id="repo-grid">Loading repositories...</div>
</section>
